/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    margin-bottom: 20px;
}

/* Welcome Section */
.welcome-section {
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    color: white;
    padding: 100px 0;
}

.welcome-section h1 {
    font-size: 70px;
    text-shadow: 12px 10px 10px black;
    color: white;
}

.welcome-section p {
    font-size: 15px;
}

/* About Me Section */
.about-section img {
    max-width: 100%;
    border-radius: 50%;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section li {
    margin: 10px 0;
    font-size: 1.2em;
    color: white;
}

/* Projects Section */
.projects-section {
    padding: 50px 0;
}

.projects-section .card {
    margin-bottom: 20px;
}

/* Contact Section */
.contact-section {
    padding: 50px 0;
}

#contactForm .form-control {
    margin-bottom: 15px;
}

/* Back to Top Button */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .welcome-section h1 {
        font-size: 2em;
    }
}

body {
    background: linear-gradient(to right, #9d50bb, #6e48aa);
     background-size: 400% 400%;
    animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
